src/n8n/workflows/test_chain.json
{
"name": "Test Chain",
"nodes": [
{
"id": "c1-c1-c1-c1-c1",
"name": "Manual",
"type": "n8n-nodes-base.manualTrigger",
"typeVersion": 1,
"position": [250, 300],
"parameters": {}
},
{
"id": "c2-c2-c2-c2-c2",
"name": "Code",
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [450, 300],
"parameters": {
"jsCode": "const items = $input.all(); return items;"
}
},
{
"id": "c3-c3-c3-c3-c3",
"name": "IF",
"type": "n8n-nodes-base.if",
"typeVersion": 2,
"position": [650, 300],
"parameters": {
"conditions": {
"string": [
{
"value1": "test",
"operation": "equal",
"value2": "test"
}
]
}
}
},
{
"id": "c4-c4-c4-c4-c4",
"name": "Set",
"type": "n8n-nodes-base.set",
"typeVersion": 2,
"position": [850, 300],
"parameters": {
"mode": "raw",
"jsonOutput": "={\"result\": \"ok\"}"
}
},
{
"id": "c5-c5-c5-c5-c5",
"name": "NoOp",
"type": "n8n-nodes-base.noOp",
"typeVersion": 1,
"position": [1050, 300],
"parameters": {}
}
],
"connections": {
"Manual": {
"main": [[{"node": "Code", "type": "main"}]]
},
"Code": {
"main": [[{"node": "IF", "type": "main"}]]
},
"IF": {
"main": [[{"node": "Set", "type": "main"}]]
},
"Set": {
"main": [[{"node": "NoOp", "type": "main"}]]
}
},
"pinData": {},
"versionId": "cccc-cccc-cccc-cccc",
"triggerCount": 0,
"active": false,
"settings": {},
"tags": [],
"staticData": null
}
