src/n8n/workflows/weekly_report.json
{
"name": "Weekly Market Report",
"nodes": [
{
"id": "schedule-001",
"name": "Schedule",
"type": "n8n-nodes-base.scheduleTrigger",
"typeVersion": 1,
"position": [200, 200],
"parameters": {
"rule": {
"interval": [{"field": "cronExpression", "expression": "0 9 * * 1"}]
}
}
},
{
"id": "http-status",
"name": "Check Status",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [200, 380],
"parameters": {
"method": "GET",
"url": "=https://prospective-worth-carriers-founded.trycloudflare.com/api/pipeline/status",
"authentication": "genericCredentialType",
"genericAuthType": "httpHeaderAuth",
"options": {}
},
"credentials": {
"httpHeaderAuth": {"id": null, "name": "Header Auth Account 3"}
}
},
{
"id": "if-stale",
"name": "Stale Data?",
"type": "n8n-nodes-base.if",
"typeVersion": 2,
"position": [200, 560],
"parameters": {
"conditions": {
"boolean": [{"value1": "={{ $json.skill_weights }}", "operation": "equal", "value2": false}]
}
}
},
{
"id": "http-rebuild",
"name": "Trigger Rebuild",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [400, 560],
"parameters": {
"method": "POST",
"url": "=https://prospective-worth-carriers-founded.trycloudflare.com/api/pipeline/rebuild",
"authentication": "genericCredentialType",
"genericAuthType": "httpHeaderAuth",
"options": {}
},
"credentials": {
"httpHeaderAuth": {"id": null, "name": "Header Auth Account 3"}
}
},
{
"id": "http-skills",
"name": "Top Skills",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [200, 740],
"parameters": {
"method": "GET",
"url": "=https://prospective-worth-carriers-founded.trycloudflare.com/api/market/top-skills?limit=20",
"authentication": "genericCredentialType",
"genericAuthType": "httpHeaderAuth",
"options": {}
},
"credentials": {
"httpHeaderAuth": {"id": null, "name": "Header Auth Account 3"}
}
},
{
"id": "http-trends",
"name": "Trends",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [200, 920],
"parameters": {
"method": "GET",
"url": "=https://prospective-worth-carriers-founded.trycloudflare.com/api/trends?top_n=10&min_change=5.0",
"authentication": "genericCredentialType",
"genericAuthType": "httpHeaderAuth",
"options": {}
},
"credentials": {
"httpHeaderAuth": {"id": null, "name": "Header Auth Account 3"}
}
},
{
"id": "http-profiles",
"name": "Profiles",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [200, 1100],
"parameters": {
"method": "GET",
"url": "=https://prospective-worth-carriers-founded.trycloudflare.com/api/profiles/compare",
"authentication": "genericCredentialType",
"genericAuthType": "httpHeaderAuth",
"options": {}
},
"credentials": {
"httpHeaderAuth": {"id": null, "name": "Header Auth Account 3"}
}
},
{
"id": "code-report",
"name": "Format Report",
"type": "n8n-nodes-base.code",
"typeVersion": 2,
"position": [200, 1280],
"parameters": {
"jsCode": "const skillsData = $('Top Skills').first().json;\nconst trendsData = $('Trends').first().json;\nconst profilesData = $('Profiles').first().json;\n\nconst skills = skillsData.skills || [];\nconst trends = trendsData.trends || {};\nconst profiles = profilesData.profiles || {};\n\nconst top10 = skills.slice(0, 10);\nconst rising = (trends.RISING || []).slice(0, 5);\nconst falling = (trends.FALLING || []).slice(0, 5);\n\nconst lines = [];\nlines.push('📊 Еженедельный отчёт по рынку');\nlines.push('');\nlines.push('🏆 Топ-10 навыков:');\ntop10.forEach((s, i) => lines.push(`  ${i+1}. ${s.skill} (${s.weight})`));\nlines.push('');\nif (rising.length) {\n  lines.push('📈 Растущие тренды:');\n  rising.forEach(s => lines.push(`  ${s.skill} +${s.change_pct}%`));\n}\nif (falling.length) {\n  lines.push('📉 Падающие тренды:');\n  falling.forEach(s => lines.push(`  ${s.skill} ${s.change_pct}%`));\n}\nlines.push('');\nlines.push('👤 Оценка профилей:');\nfor (const [name, p] of Object.entries(profiles)) {\n  const r = p.readiness_score != null ? p.readiness_score.toFixed(0) : '—';\n  const c = p.market_coverage_score != null ? p.market_coverage_score.toFixed(0) : '—';\n  lines.push(`  ${name}: готовность ${r}%, покрытие ${c}%`);\n}\n\nlet html = `<h2>Еженедельный отчёт по рынку</h2>`;\nhtml += `<h3>🏆 Топ-10 навыков</h3><table border=1 cellpadding=4><tr><th>#</th><th>Навык</th><th>Вес</th></tr>`;\ntop10.forEach((s, i) => { html += `<tr><td>${i+1}</td><td>${s.skill}</td><td>${s.weight}</td></tr>`; });\nhtml += `</table>`;\nif (rising.length) {\n  html += `<h3>📈 Растущие тренды</h3><table border=1 cellpadding=4><tr><th>Навык</th><th>Изменение</th></tr>`;\n  rising.forEach(s => { html += `<tr><td>${s.skill}</td><td style=\"color:green\">+${s.change_pct}%</td></tr>`; });\n  html += `</table>`;\n}\nif (falling.length) {\n  html += `<h3>📉 Падающие тренды</h3><table border=1 cellpadding=4><tr><th>Навык</th><th>Изменение</th></tr>`;\n  falling.forEach(s => { html += `<tr><td>${s.skill}</td><td style=\"color:red\">${s.change_pct}%</td></tr>`; });\n  html += `</table>`;\n}\nhtml += `<h3>👤 Профили</h3><table border=1 cellpadding=4><tr><th>Профиль</th><th>Готовность</th><th>Покрытие</th></tr>`;\nfor (const [name, p] of Object.entries(profiles)) {\n  const r = p.readiness_score != null ? p.readiness_score.toFixed(0) : '—';\n  const c = p.market_coverage_score != null ? p.market_coverage_score.toFixed(0) : '—';\n  html += `<tr><td>${name}</td><td>${r}%</td><td>${c}%</td></tr>`;\n}\nhtml += `</table>`;\n\nreturn [{ json: { summary: lines.join('\\n'), html: html } }];"
}
},
{
"id": "http-excel",
"name": "Fetch Excel",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [200, 1460],
    "parameters": {
        "method": "GET",
        "url": "=https://prospective-worth-carriers-founded.trycloudflare.com/api/admin/export/full-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
            "response": {
                "response": {
                    "responseFormat": "file",
                    "outputPropertyName": "data"
                }
            }
        }
    },
"credentials": {
"httpHeaderAuth": {"id": null, "name": "Header Auth Account 3"}
}
},
{
"id": "tg-doc",
"name": "Send to Telegram",
"type": "n8n-nodes-base.telegram",
"typeVersion": 1,
"position": [200, 1640],
    "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "=821508283",
        "text": "📊 Еженедельный отчёт по рынку\n\n📎 Полный архив отправлен на почту nikolayfortests@gmail.com",
        "additionalFields": {}
    }
},
{
"id": "email-report",
"name": "Send Email",
"type": "n8n-nodes-base.emailSend",
"typeVersion": 1,
"position": [200, 1820],
    "parameters": {
        "fromEmail": "opikmaks06@gmail.com",
        "toEmail": "=nikolayfortests@gmail.com",
        "subject": "Еженедельный отчёт по рынку вакансий",
        "html": "={{ $('Format Report').item.json.html }}",
        "attachments": "data",
        "options": {}
    }
}
],
"connections": {
"Schedule": {
"main": [[{"node": "Check Status", "type": "main"}]]
},
"Check Status": {
"main": [[{"node": "Stale Data?", "type": "main"}]]
},
"Stale Data?": {
"main": [[{"node": "Trigger Rebuild", "type": "main"}], [{"node": "Top Skills", "type": "main"}]]
},
"Trigger Rebuild": {
"main": [[{"node": "Top Skills", "type": "main"}]]
},
"Top Skills": {
"main": [[{"node": "Trends", "type": "main"}]]
},
"Trends": {
"main": [[{"node": "Profiles", "type": "main"}]]
},
"Profiles": {
"main": [[{"node": "Format Report", "type": "main"}]]
},
"Format Report": {
"main": [[{"node": "Fetch Excel", "type": "main"}]]
},
"Fetch Excel": {
    "main": [[{"node": "Send Email", "type": "main"}]]
},
"Send Email": {
    "main": [[{"node": "Send to Telegram", "type": "main"}]]
}
},
"pinData": {},
"versionId": "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
"triggerCount": 0,
"active": false,
"settings": {},
"tags": [],
"staticData": null
}
