src/n8n/workflows/weekly_report.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "88df439f-ac6b-4d1a-ab3c-43ac93e82e58",
      "name": "Schedule (Mon 09:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        3056,
        3616
      ]
    },
    {
      "parameters": {
        "url": "https://lit-tail-convinced-too.trycloudflare.com/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "a8de6683-3a7b-48b0-8f5f-0fdb97d62197",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        3616
      ]
    },
    {
      "parameters": {},
      "id": "d6903f65-4a90-4ecd-860e-9d0faeea5604",
      "name": "Ping Service",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3600,
        3808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-health-001",
              "leftValue": "={{ $json.status || $json.service || 'unhealthy' }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f7e2d872-ca86-441d-baa6-ed09680a0920",
      "name": "IF Service Healthy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3392,
        3616
      ]
    },
    {
      "parameters": {
        "url": "https://lit-tail-convinced-too.trycloudflare.com/api/pipeline/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "bdb18c74-8408-4717-8bc3-29156680d1ae",
      "name": "Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4176,
        3616
      ]
    },
    {
      "parameters": {
        "url": "https://lit-tail-convinced-too.trycloudflare.com/api/market/top-skills?limit=15",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "b20532fc-b29f-49fe-8502-d7509b408e4d",
      "name": "Top Skills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4176,
        3808
      ]
    },
    {
      "parameters": {
        "url": "https://lit-tail-convinced-too.trycloudflare.com/api/trends?top_n=10&min_change=3.0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "bf144e12-4933-446d-8ff7-6f481719d78c",
      "name": "Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4176,
        3984
      ]
    },
    {
      "parameters": {
        "url": "https://lit-tail-convinced-too.trycloudflare.com/api/profiles/compare",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "8b8fc7ff-ded3-494f-bfd5-49b056675e53",
      "name": "Profiles Compare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4176,
        4160
      ]
    },
    {
      "parameters": {
        "url": "https://lit-tail-convinced-too.trycloudflare.com/api/vacancies/stats/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "a1cc86bb-d9b1-48d8-9cd9-9654c3a4b8e0",
      "name": "Vacancy Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4176,
        4336
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "id": "8efb27fd-2008-4a3e-a006-5e3e544a1a24",
      "name": "Merge Data Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4576,
        3984
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst lang = /[\\u0400-\\u04FF]/.test(JSON.stringify(items)) ? 'ru' : 'en';\n\n// Collect from all 5 sources by position\nconst pipelineStatus = items[0] || {};\nconst topSkills     = items[1] || {};\nconst trendsData    = items[2] || {};\nconst profilesData  = items[3] || {};\nconst vacancyStats  = items[4] || {};\n\nconst skillsList = (topSkills.skills || topSkills.data || topSkills).slice(0, 15);\nconst trends = trendsData.trends || trendsData.data || trendsData;\nconst profiles = profilesData.profiles || profilesData.data || profilesData;\n\nreturn [{\n  json: {\n    pipeline_status: pipelineStatus,\n    top_skills: skillsList,\n    trends: typeof trends === 'object' && !Array.isArray(trends) ? trends : { trends_list: trends },\n    profiles: typeof profiles === 'object' && !Array.isArray(profiles) ? profiles : { list: profiles },\n    vacancy_stats: vacancyStats,\n    generated_at: new Date().toISOString(),\n    user_lang: lang\n  }\n}];"
      },
      "id": "82c710e4-d817-4759-8831-cc3a61914a3c",
      "name": "Aggregate Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4848,
        4032
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "report_prompt",
              "type": "string",
              "value": "=You are an AI market analyst for the university career center. Below is raw data from our job market analysis system. Generate a structured weekly report in language: {{ $json.user_lang }}. Data: {{ JSON.stringify($json) }}. Respond ONLY with valid JSON. Keys: executive_summary (string, 3-5 sentences), top_skills_analysis (array of {skill, weight, importance_rating 1-10, why_relevant string}), key_trends (object {rising: array of {skill, change_pct, interpretation string}, falling: array of {skill, change_pct, interpretation string}}), profile_highlights (array of {name string, readiness_score number, recommendation string}), recommendations (array of strings, 3-5 actionable items), market_insights (string, 1-2 paragraphs). All text values in language: {{ $json.user_lang }}."
            },
            {
              "id": "a2",
              "name": "llm_provider",
              "type": "string",
              "value": "gemini"
            }
          ]
        },
        "options": {}
      },
      "id": "8383b9c8-e165-4a7c-9c6c-351a7746c707",
      "name": "Build Report Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5136,
        3984
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.llm_provider }}",
                    "rightValue": "gemini",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.llm_provider }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ccf7d2c1-a821-4ba3-9b9c-1df8d6aadce7",
      "name": "Switch LLM",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5408,
        3984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "SFEDU-AI-Assistant/1.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.report_prompt }] }], generationConfig: { temperature: 0.4, responseMimeType: \"application/json\" } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "c370bb5d-e5f6-4186-86d1-58091f103d2c",
      "name": "Gemini Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        3808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "SFEDU-AI-Assistant/1.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"gpt-4o\", temperature: 0.4, response_format: { type: \"json_object\" }, messages: [{ role: \"system\", content: \"You output only JSON.\" }, { role: \"user\", content: $json.report_prompt }] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "54a2ae77-2180-4421-a840-ce5539006783",
      "name": "OpenAI Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        4160
      ]
    },
    {
      "parameters": {
        "jsCode": "const provider = $('Build Report Prompt').first().json.llm_provider;\nconst item = items[0].json;\nlet raw = provider === 'openai'\n  ? (item?.choices?.[0]?.message?.content ?? '')\n  : (item?.candidates?.[0]?.content?.parts?.[0]?.text ?? '');\nraw = String(raw).replace(/```json|```/g, '').trim();\n\nlet report;\ntry {\n  report = JSON.parse(raw);\n} catch (e) {\n  report = {\n    executive_summary: 'Report generation failed — raw LLM output saved.',\n    top_skills_analysis: [],\n    key_trends: { rising: [], falling: [] },\n    profile_highlights: [],\n    recommendations: ['Retry report generation'],\n    market_insights: ''\n  };\n}\n\nconst baseData = $('Aggregate Report Data').first().json;\nreturn [{\n  json: {\n    report: report,\n    raw_data_summary: {\n      skill_count: (baseData.top_skills || []).length,\n      profile_count: Object.keys(baseData.profiles || {}).length,\n      vacancy_stats: baseData.vacancy_stats\n    },\n    generated_at: baseData.generated_at,\n    user_lang: baseData.user_lang\n  }\n}];"
      },
      "id": "a75c1759-2a5a-4c0f-9d11-636354f0445b",
      "name": "Parse Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5968,
        3984
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $json.report;\nconst lang = $json.user_lang;\nconst d = new Date($json.generated_at).toLocaleDateString(lang === 'ru' ? 'ru-RU' : 'en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\nlet msg = lang === 'ru'\n  ? '<b>📊 Еженедельный отчёт по рынку</b>\\n<i>' + d + '</i>\\n\\n'\n  : '<b>📊 Weekly Market Report</b>\\n<i>' + d + '</i>\\n\\n';\n\nmsg += '<b>' + (lang === 'ru' ? '📋 Резюме:' : '📋 Executive Summary:') + '</b>\\n';\nmsg += (r.executive_summary || '') + '\\n\\n';\n\nif (r.key_trends?.rising?.length) {\n  msg += '<b>📈 ' + (lang === 'ru' ? 'Растущие навыки:' : 'Rising Skills:') + '</b>\\n';\n  r.key_trends.rising.slice(0, 5).forEach(t => {\n    msg += '  \\u2022 <b>' + (t.skill || '') + '</b> ' + (t.change_pct || '') + '% — ' + (t.interpretation || '') + '\\n';\n  });\n  msg += '\\n';\n}\n\nif (r.key_trends?.falling?.length) {\n  msg += '<b>📉 ' + (lang === 'ru' ? 'Падающие навыки:' : 'Falling Skills:') + '</b>\\n';\n  r.key_trends.falling.slice(0, 5).forEach(t => {\n    msg += '  \\u2022 <b>' + (t.skill || '') + '</b> ' + (t.change_pct || '') + '% — ' + (t.interpretation || '') + '\\n';\n  });\n  msg += '\\n';\n}\n\nmsg += '<b>🏆 ' + (lang === 'ru' ? 'Топ навыков:' : 'Top Skills:') + '</b>\\n';\n(r.top_skills_analysis || []).slice(0, 5).forEach((s, i) => {\n  msg += '  ' + (i+1) + '. <b>' + (s.skill || '') + '</b> (' + (s.importance_rating || '') + '/10)\\n';\n});\nmsg += '\\n';\n\nmsg += '<b>💡 ' + (lang === 'ru' ? 'Рекомендации:' : 'Recommendations:') + '</b>\\n';\n(r.recommendations || []).forEach((rec, i) => {\n  msg += '  ' + (i+1) + '. ' + rec + '\\n';\n});\n\nreturn [{ json: { telegram_html: msg, user_lang: lang, report_json: r, raw_data: $json.raw_data_summary, generated_at: $json.generated_at } }];"
      },
      "id": "bc634d85-ea03-4dd9-a83d-9216f200a975",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        3808
      ]
    },
    {
      "parameters": {
        "chatId": "821508283",
        "text": "={{ $json.telegram_html }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "8e0ae676-e445-45b7-8e13-fd3f0e9b7e21",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        6528,
        3808
      ],
      "webhookId": "15e13527-6024-4b3e-83f7-d2fad555f826"
    },
    {
      "parameters": {
        "jsCode": "const r = $json.report;\nconst lang = $json.user_lang;\nconst d = new Date($json.generated_at).toLocaleDateString(lang === 'ru' ? 'ru-RU' : 'en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\nconst title = lang === 'ru' ? 'Еженедельный отчёт по рынку' : 'Weekly Market Report';\nconst tSummary = lang === 'ru' ? 'Резюме' : 'Executive Summary';\nconst tRising = lang === 'ru' ? 'Растущие тренды' : 'Rising Trends';\nconst tFalling = lang === 'ru' ? 'Падающие тренды' : 'Falling Trends';\nconst tTop = lang === 'ru' ? 'Топ навыков' : 'Top Skills';\nconst tRec = lang === 'ru' ? 'Рекомендации' : 'Recommendations';\nconst tInsights = lang === 'ru' ? 'Аналитика рынка' : 'Market Insights';\n\nlet html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>';\nhtml += 'body{font-family:Arial,sans-serif;color:#333;max-width:800px;margin:0 auto;padding:20px}';\nhtml += 'h1{color:#1a73e8;border-bottom:2px solid #1a73e8;padding-bottom:10px}';\nhtml += 'h2{color:#333;margin-top:30px}';\nhtml += 'table{border-collapse:collapse;width:100%;margin:10px 0}';\nhtml += 'th,td{border:1px solid #ddd;padding:8px;text-align:left}';\nhtml += 'th{background:#1a73e8;color:#fff}';\nhtml += 'tr:nth-child(even){background:#f5f5f5}';\nhtml += '.rising{color:#0a0}';\nhtml += '.falling{color:#c00}';\nhtml += '.rec{background:#e8f5e9;border-left:4px solid #4caf50;padding:10px;margin:5px 0}';\nhtml += '.insights{background:#f0f8ff;padding:15px;border-radius:5px}';\nhtml += '</style></head><body>';\nhtml += '<h1>' + title + '</h1>';\nhtml += '<p><em>' + d + '</em></p>';\n\nhtml += '<h2>' + tSummary + '</h2>';\nhtml += '<p>' + (r.executive_summary || '') + '</p>';\n\nif (r.key_trends?.rising?.length) {\n  html += '<h2>' + tRising + '</h2><table><tr><th>Skill</th><th>Change</th><th>Interpretation</th></tr>';\n  r.key_trends.rising.forEach(t => {\n    html += '<tr><td><b>' + (t.skill || '') + '</b></td><td class=\"rising\">+' + (t.change_pct || '') + '%</td><td>' + (t.interpretation || '') + '</td></tr>';\n  });\n  html += '</table>';\n}\n\nif (r.key_trends?.falling?.length) {\n  html += '<h2>' + tFalling + '</h2><table><tr><th>Skill</th><th>Change</th><th>Interpretation</th></tr>';\n  r.key_trends.falling.forEach(t => {\n    html += '<tr><td><b>' + (t.skill || '') + '</b></td><td class=\"falling\">' + (t.change_pct || '') + '%</td><td>' + (t.interpretation || '') + '</td></tr>';\n  });\n  html += '</table>';\n}\n\nhtml += '<h2>' + tTop + '</h2><table><tr><th>#</th><th>Skill</th><th>Importance</th><th>Why Relevant</th></tr>';\n(r.top_skills_analysis || []).slice(0, 10).forEach((s, i) => {\n  html += '<tr><td>' + (i+1) + '</td><td><b>' + (s.skill || '') + '</b></td><td>' + (s.importance_rating || '') + '/10</td><td>' + (s.why_relevant || '') + '</td></tr>';\n});\nhtml += '</table>';\n\nhtml += '<h2>' + tRec + '</h2>';\n(r.recommendations || []).forEach(rec => {\n  html += '<div class=\"rec\">' + rec + '</div>';\n});\n\nif (r.market_insights) {\n  html += '<h2>' + tInsights + '</h2>';\n  html += '<div class=\"insights\">' + r.market_insights + '</div>';\n}\n\nhtml += '<hr><p style=\"color:#999;font-size:12px\">Generated by SFEDU AI Assistant | ' + new Date().toISOString() + '</p>';\nhtml += '</body></html>';\n\nreturn [{ json: { email_html: html, email_subject: title + ' — ' + d, generated_at: $json.generated_at } }];"
      },
      "id": "6894c454-7a16-445a-9575-7d3e6d5d2810",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        4160
      ]
    },
    {
      "parameters": {
        "url": "https://lit-tail-convinced-too.trycloudflare.com/api/admin/export/full-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "excel_data"
            }
          },
          "timeout": 30000
        }
      },
      "id": "458d920e-d4fd-497e-a705-f3321e372fbe",
      "name": "Fetch Excel Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6528,
        4160
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "weekly_reports",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "executive_summary": "={{ $json.report.executive_summary }}",
            "report_json": "={{ JSON.stringify($json.report) }}",
            "skill_count": "={{ $json.raw_data.skill_count }}",
            "profile_count": "={{ $json.raw_data.profile_count }}",
            "generated_at": "={{ $json.generated_at }}",
            "created_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "d9fd006c-4595-4fce-9629-b7a856221417",
      "name": "Save Report to Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6528,
        3984
      ]
    },
    {
      "parameters": {
        "fromEmail": "opikmaks06@gmail.com",
        "toEmail": "nikolayfortests@gmail.com",
        "subject": "={{ $('Build Email HTML').first().json.email_subject }}",
        "options": {}
      },
      "id": "220d9a4a-29e3-439a-b6c4-204ec4dee1b4",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        6816,
        4160
      ],
      "webhookId": "0b9ba8b1-9386-49ee-86d1-a69122f8e53a",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "return [{json:{telegram_html:'<b>ALERT</b> Service localhost:8000 is UNAVAILABLE'}}];"
      },
      "id": "5cf292d1-bf8e-4b2c-b6c8-91e704c4edab",
      "name": "Build Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6368,
        3200
      ]
    }
  ],
  "connections": {
    "Schedule (Mon 09:00)": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "IF Service Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Service": {
      "main": [
        [
          {
            "node": "Pipeline Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top Skills",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Profiles Compare",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vacancy Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Service Healthy": {
      "main": [
        [
          {
            "node": "Ping Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Status": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Skills": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trends": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Profiles Compare": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Vacancy Stats": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge Data Sources": {
      "main": [
        [
          {
            "node": "Aggregate Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Report Data": {
      "main": [
        [
          {
            "node": "Build Report Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report Prompt": {
      "main": [
        [
          {
            "node": "Switch LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch LLM": {
      "main": [
        [
          {
            "node": "Gemini Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Report": {
      "main": [
        [
          {
            "node": "Parse Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Report": {
      "main": [
        [
          {
            "node": "Parse Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Report": {
      "main": [
        [
          {
            "node": "Format Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Report to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Fetch Excel Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Excel Report": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d02ddcb3fb47cce7976cf1bea28b4e6dc563b2bacb3089fbd4196b0851318d79"
  }
}